/* push release - иконки на первом экране */
.pushRelease { animation-name: pushRelease; animation-duration: 1s; }
@keyframes pushRelease {
    15% { transform: scale(.7) }
}
/* pullRelease */
.pullRelease { animation-name: pullRelease; animation-duration: 0.5s; }
@keyframes pullRelease {
     15% { transform: scale(1.8) }
}
.zoomIn{
    animation-name:zoomIn;
    animation-duration:1s
}
@keyframes zoomIn{
    0%{
        transform:scale(0);
        opacity:0
    }
    100%{
        transform:scale(1);
        opacity:1
    }
}
/* moveFromBottom */
.moveFromBottom {
    animation-name: moveFromBottom;
}
/* moveFromBottom */
.moveFromBottom { animation-name: moveFromBottom; animation-duration: 1s; }
@keyframes moveFromBottom {
    from { transform: translateY(25px); opacity: 0; }
}
/* moveFromLeft */
.moveFromLeft { animation-name: moveFromLeft; animation-duration: 1s; }
@keyframes moveFromLeft {
    from { transform: translateX(-25px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}
/* moveFromRight */
.moveFromRight { animation-name: moveFromRight; animation-duration: 1s; }
@keyframes moveFromRight {
    from { transform: translateX(25px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}
/* flip X */
.flipX { animation-name: flipX; animation-duration: 1s; }
@keyframes flipX {
    from {
        transform: perspective(600px) rotateX(-180deg);
        opacity: 0;
    }
    to { transform: perspective(600px) rotateX(-360deg) }
}
/* leScaleXIn */
.leScaleXIn { animation-name: leScaleXIn; animation-duration: 2s; }
@keyframes leScaleXIn {
    from {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    50% { opacity: 1 }
}
/* lePushReleaseFrom */
.lePushReleaseFrom { animation-name: lePushReleaseFrom; animation-duration: 1s; }
@keyframes lePushReleaseFrom {
    from {
        transform: scale(3, 3);
        opacity: 0;
    }
    50% { transform: scale(.5, .5) }
}






/* BlurIn */
.blurIn { animation-name: blurIn; animation-duration: 2s;}
@keyframes blurIn {
    from {
        filter: blur(50px);
        opacity: 0;
    }
}











/* lefadein */
.leFadeIn { animation-name: leFadeIn; animation-duration: 1s; }
@keyframes leFadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
/* blueInTop */
.blurInTop { animation-name: blurInTop; animation-duration: 3s; }
@keyframes blurInTop {
    from {
        transform: translateY(100%);
        filter: blur(20px);
        opacity: 0;
    }
}
/**/
.moveToBottom { animation-name: moveToBottom; animation-duration: 2s; animation-iteration-count: infinite; }
@keyframes moveToBottom {
    to { transform: translateY(800px) }
}
.moveToRight { animation-name: moveToRight; animation-duration: 1s; animation-iteration-count: infinite; }
@keyframes moveToRight {
    to { transform: translateX(800px) }
}