/* Graphs anim */
.GmoveFromBottom { animation-name: GmoveFromBottom; animation-duration: 1s; }
@keyframes GmoveFromBottom {
    from { transform: translateY(50px); }
}
.GmoveFromTop { animation-name: GmoveFromTop; animation-duration: 1s; }
@keyframes GmoveFromTop {
    from { transform: translateY(-50px); }
}




/* moveFromBottom */
.moveFromBottom {
    animation-name: moveFromBottom;
}
/* moveFromBottom */
.moveFromBottom { animation-name: moveFromBottom; animation-duration: 1s; }
@keyframes moveFromBottom {
    from { transform: translateY(25px); opacity: 0; }
}
/* moveFromLeft */
.moveFromLeft { animation-name: moveFromLeft; animation-duration: 1s; }
@keyframes moveFromLeft {
    from { transform: translateX(-25px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}
/* moveFromRight */
.moveFromRight { animation-name: moveFromRight; animation-duration: 1s; }
@keyframes moveFromRight {
    from { transform: translateX(25px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}